In [1]:
from sklearn.model_selection import GridSearchCV

In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.datasets import load_digits

In [4]:
digits = load_digits()

In [5]:
dir(digits)

['DESCR', 'data', 'feature_names', 'frame', 'images', 'target', 'target_names']

In [6]:
digits.data

array([[ 0.,  0.,  5., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ..., 10.,  0.,  0.],
       [ 0.,  0.,  0., ..., 16.,  9.,  0.],
       ...,
       [ 0.,  0.,  1., ...,  6.,  0.,  0.],
       [ 0.,  0.,  2., ..., 12.,  0.,  0.],
       [ 0.,  0., 10., ..., 12.,  1.,  0.]])

In [7]:
digits.target

array([0, 1, 2, ..., 8, 9, 8])

In [8]:
digits.target_names

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
df = pd.DataFrame(data = digits.data )

In [10]:
df['target'] = digits.target

In [11]:
df

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1792,0.0,0.0,4.0,10.0,13.0,6.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,2.0,14.0,15.0,9.0,0.0,0.0,9
1793,0.0,0.0,6.0,16.0,13.0,11.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,16.0,14.0,6.0,0.0,0.0,0
1794,0.0,0.0,1.0,11.0,15.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,9.0,13.0,6.0,0.0,0.0,8
1795,0.0,0.0,2.0,10.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,12.0,16.0,12.0,0.0,0.0,9
1796,0.0,0.0,10.0,14.0,8.0,1.0,0.0,0.0,0.0,2.0,...,0.0,0.0,1.0,8.0,12.0,14.0,12.0,1.0,0.0,8

In [7]:
from sklearn import svm

In [20]:
clf = GridSearchCV(svm.SVC(gamma = 'auto'),{ 'C' : [1,5,10] , 'kernel' : ['rbf','linear']} , cv = 5 ,return_train_score = False)

In [22]:
clf.fit(digits.data, digits.target)

GridSearchCV(cv=5, estimator=SVC(gamma='auto'),
             param_grid={'C': [1, 5, 10], 'kernel': ['rbf', 'linear']})

In [23]:
clf.cv_results_

{'mean_fit_time': array([0.39995227, 0.03577685, 0.36317453, 0.03617735, 0.35977798,
        0.0369772 ]),
 'std_fit_time': array([0.06030642, 0.00039971, 0.01135178, 0.00271166, 0.00565418,
        0.00368468]),
 'mean_score_time': array([0.11133056, 0.00859547, 0.11672745, 0.00839496, 0.11072946,
        0.008394  ]),
 'std_score_time': array([0.02070028, 0.00048959, 0.04168376, 0.00048998, 0.02648884,
        0.00048978]),
 'param_C': masked_array(data=[1, 1, 5, 5, 10, 10],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 5, 'kernel': 'rbf'},
  {'C': 5, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'}],
 'split0_test_score': array([0.41111111, 0.96388889, 0.45277778, 0.96388889, 0.45277778,
        0.96388889]),
 'split1_test_score': array([0.45      , 0.91944444, 0.46944444, 0.91944444, 0.46944444,
        0.91944444]),
 'split2_test_score': array([0.454039  , 0.96657382, 0.47910864, 0.96657382, 0.47910864,
        0.96657382]),
 'split3_test_score': array([0.44846797, 0.9637883 , 0.47910864, 0.9637883 , 0.47910864,
        0.9637883 ]),
 'split4_test_score': array([0.47910864, 0.92479109, 0.50139276, 0.92479109, 0.50139276,
        0.92479109]),
 'mean_test_score': array([0.44854534, 0.94769731, 0.47636645, 0.94769731, 0.47636645,
        0.94769731]),
 'std_test_score': array([0.02176115, 0.02097775, 0.01578414, 0.02097775, 0.01578414,
        0.02097775]),
 'rank_test_score': array([6, 1, 4, 1, 4, 1])}

In [47]:
clf.best_score_

0.9476973073351903

In [25]:
output = pd.DataFrame(clf.cv_results_)

In [26]:
output

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.399952,0.060306,0.111331,0.020700,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.411111,0.450000,0.454039,0.448468,0.479109,0.448545,0.021761,6
1,0.035777,0.000400,0.008595,0.000490,1,linear,"{'C': 1, 'kernel': 'linear'}",0.963889,0.919444,0.966574,0.963788,0.924791,0.947697,0.020978,1
2,0.363175,0.011352,0.116727,0.041684,5,rbf,"{'C': 5, 'kernel': 'rbf'}",0.452778,0.469444,0.479109,0.479109,0.501393,0.476366,0.015784,4
3,0.036177,0.002712,0.008395,0.000490,5,linear,"{'C': 5, 'kernel': 'linear'}",0.963889,0.919444,0.966574,0.963788,0.924791,0.947697,0.020978,1
4,0.359778,0.005654,0.110729,0.026489,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.452778,0.469444,0.479109,0.479109,0.501393,0.476366,0.015784,4
5,0.036977,0.003685,0.008394,0.000490,10,linear,"{'C': 10, 'kernel': 'linear'}",0.963889,0.919444,0.966574,0.963788,0.924791,0.947697,0.020978,1

In [29]:
output[['mean_test_score','param_C','param_kernel','params']]

   mean_test_score param_C param_kernel                         params
0         0.448545       1          rbf      {'C': 1, 'kernel': 'rbf'}
1         0.947697       1       linear   {'C': 1, 'kernel': 'linear'}
2         0.476366       5          rbf      {'C': 5, 'kernel': 'rbf'}
3         0.947697       5       linear   {'C': 5, 'kernel': 'linear'}
4         0.476366      10          rbf     {'C': 10, 'kernel': 'rbf'}
5         0.947697      10       linear  {'C': 10, 'kernel': 'linear'}

In [8]:
# above thres only one model model now what if we want to try many models
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [9]:
model_params = { 'svm' : {'model' : svm.SVC(gamma = 'auto') , 'params' : {'C' : [1,3,5,4,10] , 'kernel' : ['rbf','linear']}
                          },
                'random_forest' : {'model' : RandomForestClassifier() , 'params' : {'n_estimators' : [1,3,5,7,10]}
                                  },
                'logistic_regression' : {'model' : LogisticRegression(solver = 'liblinear' , multi_class = 'auto') , 'params' : {'C' : [1,3,5,7,10]}
                                        }
                }

In [10]:
model_params

{'svm': {'model': SVC(gamma='auto'),
  'params': {'C': [1, 3, 5, 4, 10], 'kernel': ['rbf', 'linear']}},
 'random_forest': {'model': RandomForestClassifier(),
  'params': {'n_estimators': [1, 3, 5, 7, 10]}},
 'logistic_regression': {'model': LogisticRegression(solver='liblinear'),
  'params': {'C': [1, 3, 5, 7, 10]}}}

In [11]:
for model_name , mp in model_params.items():
    print(model_name)
    print(mp)

svm
{'model': SVC(gamma='auto'), 'params': {'C': [1, 3, 5, 4, 10], 'kernel': ['rbf', 'linear']}}
random_forest
{'model': RandomForestClassifier(), 'params': {'n_estimators': [1, 3, 5, 7, 10]}}
logistic_regression
{'model': LogisticRegression(solver='liblinear'), 'params': {'C': [1, 3, 5, 7, 10]}}

In [12]:
for model_name , mp in model_params.items():
    print(mp)

{'model': SVC(gamma='auto'), 'params': {'C': [1, 3, 5, 4, 10], 'kernel': ['rbf', 'linear']}}
{'model': RandomForestClassifier(), 'params': {'n_estimators': [1, 3, 5, 7, 10]}}
{'model': LogisticRegression(solver='liblinear'), 'params': {'C': [1, 3, 5, 7, 10]}}

In [13]:
scores = []
for model_name , mp in model_params.items():
    print(mp)
    clf = GridSearchCV( mp['model'] , mp['params'] , cv = 5,return_train_score = False)
    clf.fit(digits.data,digits.target)
    scores.append({'model' : model_name
                  ,'best_score' : clf.best_score_
                  , 'best_params' : clf.best_params_})
scores

{'model': SVC(gamma='auto'), 'params': {'C': [1, 3, 5, 4, 10], 'kernel': ['rbf', 'linear']}}
{'model': RandomForestClassifier(), 'params': {'n_estimators': [1, 3, 5, 7, 10]}}
{'model': LogisticRegression(solver='liblinear'), 'params': {'C': [1, 3, 5, 7, 10]}}

[{'model': 'svm',
  'best_score': 0.9476973073351903,
  'best_params': {'C': 1, 'kernel': 'linear'}},
 {'model': 'random_forest',
  'best_score': 0.8976431445372949,
  'best_params': {'n_estimators': 10}},
 {'model': 'logistic_regression',
  'best_score': 0.9221138966264315,
  'best_params': {'C': 1}}]

In [14]:
scores

[{'model': 'svm',
  'best_score': 0.9476973073351903,
  'best_params': {'C': 1, 'kernel': 'linear'}},
 {'model': 'random_forest',
  'best_score': 0.8976431445372949,
  'best_params': {'n_estimators': 10}},
 {'model': 'logistic_regression',
  'best_score': 0.9221138966264315,
  'best_params': {'C': 1}}]

In [63]:
pd.DataFrame(scores , columns = ['model','best_score','best_params'])

                 model  best_score                   best_params
0                  svm    0.947697  {'C': 1, 'kernel': 'linear'}
1        random_forest    0.894284          {'n_estimators': 10}
2  logistic_regression    0.922114                      {'C': 1}

In [64]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier

In [72]:
model_params = { 'svm' : {'model' : svm.SVC(gamma = 'auto') , 'params' : {'C' : [1,4,10] , 'kernel' : ['rbf','linear']}
                          },
                'random_forest' : {'model' : RandomForestClassifier() , 'params' : {'n_estimators' : [1,5,10]}
                                  },
                'logistic_regression' : {'model' : LogisticRegression(solver = 'liblinear' , multi_class = 'auto') , 'params' : {'C' : [1,5,10]}
                                        },
                'decisiontree' : {'model' : DecisionTreeClassifier(),'params': {'criterion': ['gini','entropy']}
                                 },
                'naive_bayes_gaussian': {
        'model': GaussianNB(),
        'params': {}},'naive_bayes_multinomial': {'model': MultinomialNB(),'params': {}}
                    
                
                
                }

In [73]:
scores = []
for model_name , mp in model_params.items():
    print(mp)
    clf = GridSearchCV( mp['model'] , mp['params'] , cv = 5,return_train_score = False)
    clf.fit(digits.data,digits.target)
    scores.append({'model' : model_name
                  ,'best_score' : clf.best_score_
                  , 'best_params' : clf.best_params_})
scores

{'model': SVC(gamma='auto'), 'params': {'C': [1, 4, 10], 'kernel': ['rbf', 'linear']}}
{'model': RandomForestClassifier(), 'params': {'n_estimators': [1, 5, 10]}}
{'model': LogisticRegression(solver='liblinear'), 'params': {'C': [1, 5, 10]}}
{'model': DecisionTreeClassifier(), 'params': {'criterion': ['gini', 'entropy']}}
{'model': GaussianNB(), 'params': {}}
{'model': MultinomialNB(), 'params': {}}

[{'model': 'svm',
  'best_score': 0.9476973073351903,
  'best_params': {'C': 1, 'kernel': 'linear'}},
 {'model': 'random_forest',
  'best_score': 0.9009749303621171,
  'best_params': {'n_estimators': 10}},
 {'model': 'logistic_regression',
  'best_score': 0.9221138966264315,
  'best_params': {'C': 1}},
 {'model': 'decisiontree',
  'best_score': 0.8097121634168987,
  'best_params': {'criterion': 'entropy'}},
 {'model': 'naive_bayes_gaussian',
  'best_score': 0.8069281956050759,
  'best_params': {}},
 {'model': 'naive_bayes_multinomial',
  'best_score': 0.8703497369235531,
  'best_params': {}}]

In [74]:
pd.DataFrame(scores , columns = ['model','best_score','best_params'])

                     model  best_score                   best_params
0                      svm    0.947697  {'C': 1, 'kernel': 'linear'}
1            random_forest    0.900975          {'n_estimators': 10}
2      logistic_regression    0.922114                      {'C': 1}
3             decisiontree    0.809712      {'criterion': 'entropy'}
4     naive_bayes_gaussian    0.806928                            {}
5  naive_bayes_multinomial    0.870350                            {}

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('Melbourne_housing_FULL.csv')

In [2]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [3]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [9]:
df['Address'].nunique()

34009

In [12]:
len(df['Address'].unique())

34009

In [17]:
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [19]:
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [20]:
len(df['Landsize'])

34857

In [23]:
df = df.drop(['Address','YearBuilt','Date','Lattitude','Longtitude','Postcode'] , axis = 'columns')

In [24]:
df

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,NaN,SS,Jellis,2.5,2.0,1.0,1.0,126.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,NaN,VB,Rounds,2.5,3.0,2.0,1.0,0.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,Yarra City Council,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,4,h,1480000.0,PI,Jas,6.3,4.0,1.0,3.0,593.0,NaN,Maribyrnong City Council,Western Metropolitan,6543.0
34853,Yarraville,2,h,888000.0,SP,Sweeney,6.3,2.0,2.0,1.0,98.0,104.0,Maribyrnong City Council,Western Metropolitan,6543.0
34854,Yarraville,2,t,705000.0,S,Jas,6.3,2.0,1.0,2.0,220.0,120.0,Maribyrnong City Council,Western Metropolitan,6543.0
34855,Yarraville,3,h,1140000.0,SP,hockingstuart,6.3,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,Western Metropolitan,6543.0
34856,Yarraville,2,h,1020000.0,PI,RW,6.3,2.0,1.0,0.0,250.0,103.0,Maribyrnong City Council,Western Metropolitan,6543.0

In [25]:
df.nunique()

Suburb            351
Rooms              12
Type                3
Price            2871
Method              9
SellerG           388
Distance          215
Bedroom2           15
Bathroom           11
Car                15
Landsize         1684
BuildingArea      740
CouncilArea        33
Regionname          8
Propertycount     342
dtype: int64

In [26]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

In [29]:
cols_to_fill_zero = ['Propertycount' , 'Distance' ,'Bedroom2','Bathroom','Car']
df[cols_to_fill_zero] = df[cols_to_fill_zero].fillna(0)

In [31]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             0
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        0
dtype: int64

In [ ]:
dummies = pd.dummie_variable()

In [32]:
df['Landsize'] = df['Landsize'].fillna(df['Landsize'].mean())
df['BuildingArea'] = df['BuildingArea'].fillna(df['BuildingArea'].mean())

In [33]:
df.isna().sum()

Suburb              0
Rooms               0
Type                0
Price            7610
Method              0
SellerG             0
Distance            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
CouncilArea         3
Regionname          3
Propertycount       0
dtype: int64

In [35]:
len(df)

34857

In [36]:
df.dropna(inplace = True)

In [37]:
len(df)

27244

In [41]:
data = pd.get_dummies(df,drop_first = True)

In [42]:
x  = data.drop('Price' , axis = 'columns')

In [43]:
y = data['Price']

In [44]:
x

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,Suburb_Airport West,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2,2.5,2.0,1.0,1.0,202.000000,160.2564,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
2,2,2.5,2.0,1.0,0.0,156.000000,79.0000,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
4,3,2.5,3.0,2.0,0.0,134.000000,150.0000,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
5,3,2.5,3.0,2.0,1.0,94.000000,160.2564,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
6,4,2.5,3.0,1.0,2.0,120.000000,142.0000,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,6.3,4.0,1.0,3.0,593.000000,160.2564,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0
34853,2,6.3,2.0,2.0,1.0,98.000000,104.0000,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0
34854,2,6.3,2.0,1.0,2.0,220.000000,120.0000,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0
34855,3,6.3,0.0,0.0,0.0,593.598993,160.2564,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0
34856,2,6.3,2.0,1.0,0.0,250.000000,103.0000,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [45]:
y

1        1480000.0
2        1035000.0
4        1465000.0
5         850000.0
6        1600000.0
           ...
34852    1480000.0
34853     888000.0
34854     705000.0
34855    1140000.0
34856    1020000.0
Name: Price, Length: 27244, dtype: float64

In [56]:
from sklearn.model_selection import train_test_split

In [125]:
scaler = MinMaxScaler()
scaler.fit(x['Landsize','BuildingArea','Propertycount'])
x['Landsize','BuildingArea','Propertycount'] = scaler.transform(x['Landsize','BuildingArea','Propertycount'])
x

KeyError: ('Landsize', 'BuildingArea', 'Propertycount')

In [110]:
x

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,Suburb_Airport West,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2,2.5,2.0,1.0,1.0,0.000466,0.003600,0.182501,0,0,...,0,1,0,0,1,0,0,0,0,0
2,2,2.5,2.0,1.0,0.0,0.000360,0.001775,0.182501,0,0,...,0,1,0,0,1,0,0,0,0,0
4,3,2.5,3.0,2.0,0.0,0.000309,0.003370,0.182501,0,0,...,0,1,0,0,1,0,0,0,0,0
5,3,2.5,3.0,2.0,1.0,0.000217,0.003600,0.182501,0,0,...,0,1,0,0,1,0,0,0,0,0
6,4,2.5,3.0,1.0,2.0,0.000277,0.003190,0.182501,0,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,6.3,4.0,1.0,3.0,0.001369,0.003600,0.299532,0,0,...,0,0,0,0,0,0,0,0,1,0
34853,2,6.3,2.0,2.0,1.0,0.000226,0.002336,0.299532,0,0,...,0,0,0,0,0,0,0,0,1,0
34854,2,6.3,2.0,1.0,2.0,0.000508,0.002696,0.299532,0,0,...,0,0,0,0,0,0,0,0,1,0
34855,3,6.3,0.0,0.0,0.0,0.001371,0.003600,0.299532,0,0,...,0,0,0,0,0,0,0,0,1,0
34856,2,6.3,2.0,1.0,0.0,0.000577,0.002314,0.299532,0,0,...,0,0,0,0,0,0,0,0,1,0

In [111]:
x_train ,x_test , y_train ,y_test = train_test_split( x,y, train_size= 0.7)

In [112]:
len(x_train)

19070

In [113]:
len(x_test)

8174

In [114]:
from sklearn.linear_model import LinearRegression

In [115]:
reg = LinearRegression().fit(x_train,y_train)

In [116]:
reg.score(x_train,y_train)

0.6846394322225414

In [117]:
reg.score(x_test,y_test)

0.5829733420727616

In [ ]:
# this means overfitting 

#  laso regression - it is linear_regression + regularization

In [101]:
x_train

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,Suburb_Airport West,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
29784,2,8.5,2.0,1.0,0.0,1579.000000,160.2564,7485.0,0,0,...,0,0,0,0,1,0,0,0,0,0
21746,4,12.1,3.0,2.0,2.0,593.598993,245.0000,10175.0,0,0,...,0,0,0,0,1,0,0,0,0,0
18616,3,17.9,3.0,2.0,2.0,615.000000,132.0000,10529.0,0,0,...,0,0,0,0,1,0,0,0,0,0
3062,2,8.9,2.0,2.0,1.0,0.000000,160.2564,2379.0,0,0,...,0,0,0,0,0,0,0,1,0,0
23079,3,6.7,3.0,1.0,2.0,593.598993,102.0000,3445.0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31016,4,12.3,4.0,2.0,2.0,550.000000,209.0000,3224.0,0,0,...,0,0,0,0,0,0,0,1,0,0
3402,2,7.8,2.0,2.0,3.0,339.000000,149.0000,11204.0,0,0,...,0,0,0,0,1,0,0,0,0,0
32461,3,17.3,3.0,1.0,3.0,667.000000,196.0000,5366.0,0,0,...,0,0,0,0,0,0,0,1,0,0
10446,1,4.6,1.0,1.0,1.0,0.000000,160.2564,7217.0,0,0,...,0,0,0,0,0,0,0,1,0,0
3994,2,8.0,2.0,1.0,1.0,0.000000,160.2564,9264.0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [118]:
from sklearn import linear_model
lasso_reg = linear_model.Lasso()

In [119]:
from sklearn.preprocessing import MinMaxScaler

In [120]:
scaler = MinMaxScaler()

ValueError: Expected 2D array, got 1D array instead:
array=[1579.          593.59899336  615.         ...  667.            0.
    0.        ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [121]:
lasso_reg.fit(x_train,y_train)

C:\Users\sidhanth\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1102899072528573.8, tolerance: 801128015011.8357
  model = cd_fast.enet_coordinate_descent(

Lasso()

In [122]:
lasso_reg.score(x_test,y_test)

0.585927468257453

In [123]:
x_train

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,Suburb_Airport West,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
10325,1,6.5,1.0,1.0,1.0,0.000000,0.000988,0.407428,0,0,...,0,0,0,0,1,0,0,0,0,0
19998,3,7.3,3.0,2.0,2.0,0.000469,0.003600,0.478926,0,0,...,0,0,0,0,0,0,0,1,0,0
7232,2,2.3,2.0,1.0,1.0,0.003667,0.001595,0.312422,0,0,...,0,0,0,0,1,0,0,0,0,0
26594,3,6.3,3.0,1.0,2.0,0.001037,0.002089,0.299532,0,0,...,0,0,0,0,0,0,0,0,1,0
31330,4,6.2,4.0,3.0,2.0,0.000757,0.003600,0.041777,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18340,4,15.3,4.0,1.0,2.0,0.001605,0.003600,0.365002,0,0,...,0,0,0,0,1,0,0,0,0,0
16135,3,10.4,3.0,1.0,0.0,0.001850,0.003600,0.259424,0,0,...,0,0,0,0,0,0,0,1,0,0
23881,2,4.3,0.0,0.0,0.0,0.001371,0.003600,0.224185,0,0,...,0,0,0,0,0,0,0,0,1,0
24154,2,10.5,2.0,1.0,0.0,0.001371,0.002224,0.097464,0,0,...,0,0,0,0,0,0,0,0,1,0
811,4,10.5,0.0,0.0,0.0,0.001371,0.003600,0.204896,0,0,...,0,0,0,0,0,0,0,0,1,0